@model WebApplication1.Fish

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fish</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Animal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurviveOutOfWater)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurviveOutOfWater)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dietry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dietry)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FishID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
